html, body{

  font-family: 'SourceSansPro-Regular';

  width: auto !important;

  overflow-x: hidden !important;

  padding-top: 10px

}

.label-error
{
	color: red;
	text-align: right;
}

.no-shadow

{

	box-shadow: none !important; 

}

.title-urgent
{
	color:#fff;
	height: 45px;
	overflow: hidden;
	border:0px solid black;
	display: block;
	width: 100%;
}

.title-urgent:hover
{
	text-decoration: none;
	color:#fff;
}

.grey

{

	background: #efefef

}

.jtf
{
	text-align: justify !important;
}

.mtb20

{

	margin-top: 20px;

	margin-bottom: 20px;

}



.mb20

{

	margin-bottom:20px;

}



.mb10

{

	margin-bottom: 10px !important;

}



.pd20

{

	padding:20px;

}



.w100{

	width: 100% !important

}


#main-konten

{

	/*min-height: 1000px*/

}



.bold

{

	font-family: 'SourceSansPro-Bold'

}



.sm-bold

{

	font-family: 'SourceSansPro-Semibold'

}



.italic

{

	font-family: 'SourceSansPro-Italic'

}



.fo

{

	padding: 10px;

	width: 150px;

	color: #0354a6;

	font-size: 15px

}


.faq-search
{
	padding-top: 30px;
	padding-bottom:30px;
	background: #0255a5;
	overflow: hidden;
}

.faq-breadcrumbs
{
	padding-top: 10px;
	padding-bottom:10px;
	background: #4cb050;
	overflow: hidden;
}

.faq-home
{
	padding-left:70px;
}

/*MAIN CAMPAIGN*/

.main-campaign-wrap

{

	overflow: hidden;

	display: block;

	background: #0255a5;

	margin-top: 76px;

	border-bottom-right-radius: 20px;

	border-top-right-radius: 20px;

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	margin-bottom: 88px;

}



.main-campaign-konten

{

	color: #fff;

}



.padd-rl-50

{

	padding-left: 50px;

	padding-right: 50px;

}



.size14{

	font-size: 18px;

}



/*PROGRAM CAMPAIGN*/

.program-campaign-title{

	margin-bottom: 20px

}

.program-campaign-title h2, .program-campaign-title h5

{	

	margin: 0px;

	padding: 0px;

}



.program-campaign-title h2

{

	color: #0255a5

}



.line

{

	border:2px solid #4cb050;

	width:15%;

	margin-top: 5px;

	margin-bottom: 5px

}



.program-campaign-list

{

	-webkit-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	-moz-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	border-bottom-right-radius: 10px;

	border-bottom-left-radius: 10px;

	background: #fff;
	overflow: hidden;

}



.list-image

{
	height: 190px;
	overflow: hidden;

}





.list-konten

{

	padding: 15px;

}

.list-konten h3
{
	height: 55px;
	overflow: hidden;
}


.list-konten span
{
	display: block;
	margin-bottom: 10px;
}

.list-konten p
{
	height:80px; overflow:hidden;
}

.list-progress

{

	padding: 15px;

	margin-top: 40px

}



.list-desc

{

	margin-top: -25px;

	padding: 15px;

}



.blue

{

	color: #0255a5

}



.btn-blue

{

	background: #0255a5;

	color: #fff;

	margin-top: 60px;

	padding-left: 50px;

	padding-right: 50px;

}





.btn-blue:hover

{

	color: #4f9de8

}



/*PROGRAM LEMBAGA*/

#program-lembaga

{

	position: relative;

	margin-bottom: 70px;

	background-image: url("../../assets/images/bg1.jpg");

	background-repeat: no-repeat;

    background-size: 100%;

    margin-top: 40px;

}



.program-lembaga-title{

	position: relative;

	margin-top: 80px;

	margin-bottom: 70px

}



.program-lembaga-title h2, .program-lembaga-title h5

{	

	margin: 0px;

	padding: 0px;

}



.program-lembaga-title h2, .program-lembaga-title h5

{

	color: #fff

}



.line-white

{

	border:2px solid #fff !important;

}



.program-lembaga-list

{

	-webkit-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	-moz-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	border-radius: 10px;

	background: #fff;

	 margin-top: 30px;

}



.list-program

{

	overflow: hidden;

}



.list-program img

{

	margin-top: 10px;

	height: 140px

}



.list-program h2

{

	color: #0255a5

}



.p-program

{

	height:80px; 

	overflow:hidden; 

	text-align:center;

	padding-left: 15px;

	padding-right: 15px

}



.bg1

{

	position: absolute;

	display: block;

	width: 100%;

	border:0px solid black;

	top:20px;

}



.bg1 img

{

	width: 100%;

	position: absolute;

	height: 540px;

}



.news

{

	background:#eee; padding-top:50px; padding-bottom:50px

}



#program-create

{

	position: relative;

	height: 580px;

	top:-20px;

	background-image: url("../../assets/images/bg1.jpg");

	background-repeat: no-repeat;

    background-size: 100% 100%;

}



.create-campaign-now

{

	color: #fff;

	position: relative;

	top: 120px

}





.create-campaign-now h1

{

	font-size: 54px

}





.create-campaign-now p

{

	width: 60%

}



/*ARTICLES*/

.art-data

{

	display: block;

	background: #fff;

	overflow: hidden;

	border-top-right-radius: 10px;

	border-bottom-right-radius: 10px;

	-webkit-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	-moz-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	margin-bottom: 20px;

}



.art-btn

{

	padding-bottom: 10px;

}



.art-konten div h4
{
	height: 40px;
	overflow: hidden;
	border:0px solid black;
}

.art-konten div span
{
	margin-bottom: 15px;
}

.art-konten div p

{

	margin:0px;

	padding: 0px;

	border:0px solid black;

	height: 140px;

	overflow: hidden;

	margin-bottom: 15px;

}



/*ARTICLES DETAIL*/

.page-konten

{

	padding:20px;

	background: #fff;

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	margin-top: 10px;

	margin-bottom: 10px;

	border-radius: 10px;

	overflow: hidden;

}



div.page-share-icon

{

	list-style-type: none;
	margin:0px;
	padding: 0px;
	margin-left: 10px;
}






div.page-share-icon p a

{

	display: block;

	height: 40px;

	width: 40px;

	position: relative;

	margin: 0 auto;

}



.btn-share

{

	display: block;

	height: 35px;

	width: 35px;

}



.share-icon

{

	background-repeat: no-repeat;

    background-size: 100% 100%;

}



.share

{

	background-image: url("../../assets/images/icon/sharebutton.png");

}



.fb

{

	background-image: url("../../assets/images/icon/sharefb.png");

}



.google

{

	background-image: url("../../assets/images/icon/sharegoogle.png");

}



.linkedin

{

	background-image: url("../../assets/images/icon/sharelinkin.png");

}



.pinterest

{

	background-image: url("../../assets/images/icon/sharepinterest.png");

}



.twitter

{

	background-image: url("../../assets/images/icon/sharetwitter.png");

}

.whatsapp

{

	background-image: url("../../assets/images/icon/sharewa.png");

}



/* MOST POPULAR */

.most-popular

{

	padding: 10px;

}



ul.list-popular

{

	margin: 0px;

	padding: 0px;

	list-style-type: none;

	background: #fff;

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	border-radius: 10px

}





ul.list-popular li

{

	border-bottom: 1px solid #cccccc;

	display: block;

	padding: 5px;

	overflow: auto;

}



ul.list-popular li div.list-item h4

{

	margin: 0px;

	padding: 0px;

	max-height: 40px;

	overflow: hidden;

}





/* MOST POPULAR */

.recent-articles

{

	padding: 10px;

}



ul.list-articles

{

	margin: 0px;

	padding: 0px;

	list-style-type: none;

	background: #fff;

	padding: 10px;

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	border-radius: 10px

}





ul.list-articles li

{

	border-bottom: 1px solid #cccccc;

	display: block;

	padding: 10px;

	overflow: auto;

}



ul.list-articles li div.list-item h4

{

	margin: 0px;

	padding: 0px;

	overflow: hidden;

}



/* DONASI DETAIL */

.btn-donasi

{

	height: 80px;

	width: 100%;

}



.don-share

{

	background: #fff;

	display:block;

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	border-radius: 10px;

	padding-top: 10px;

	padding-bottom: 10px;

	overflow: hidden;

}



.don-share h5

{

	margin:0px;

	padding: 0px;

	font-size: 20px;

	color: #0255a5;

}



.sh-center

{

	position: relative;

	margin: 0 auto

}



.list-item h4,.list-item p{

	margin: 0px;

	padding: 0px;

}



.h50{

	height: 40px !important;

	overflow: hidden;

}



/*DONATUR PAGE*/



/*PROFILE*/

.profile-menu

{

	display: block;

	position: relative;

	overflow: hidden;

}



.profile-head

{

	border:0px solid black;

	position: relative;

}



.profile-head-box

{

	height: 180px;

	width: 180px;

	background: #09A59D;

	border-radius: 10px;

	position: relative;

	margin: 0 auto;

	z-index: 10;

}





.profile-head-box-white

{

	position: absolute;

	display: block;

	height: 50px;

	width: 100%;

	z-index: 9;

	background: #fff;

	border:0px solid black;

	bottom:0px;

	border-top-left-radius: 5px;

	border-top-right-radius: 5px;

}



.profile-body

{

	background: #fff;

	padding-bottom: 20px;

	border-bottom-left-radius: 5px;

	border-bottom-right-radius: 5px;

}



.profile-body h2{

	color: #09A59D;

	margin: 0px;

	padding: 0px

}



.profile-body hr

{

	border:1px solid #ccc;

	width: 90%;

	position: relative;

	margin:0 auto;

}



.profile-menu-list

{

	list-style-type: none;

	margin: 0px;

	padding:0px;

}





.profile-menu-list li a

{

	border-left:5px solid none;

	display: block;

	height: 50px;

	color: #000;

	text-decoration: none;

	overflow: hidden;

}



.profile-menu-list li a.active

{

	border-left:6px solid #5cb85c;

	background: #09A59D;

	color: #fff;

	text-decoration: none;

}



.profile-menu-list li a i

{

	display: block;

	height: 40px;

	width: 40px;

	border:0px solid black;

	float: left;

}



.profile-menu-list li a i.profile

{

	background-image: url("../../assets/images/donatur/icondbprofileb.png");

}



.profile-menu-list li a i.profile-w

{

	background-image: url("../../assets/images/donatur/icondbprofilew.png");

}



.profile-menu-list li a i.campaign

{

	background-image: url("../../assets/images/donatur/icondbcampaignb.png");

}



.profile-menu-list li a i.campaign-w

{

	background-image: url("../../assets/images/donatur/icondbcampaignw.png");

}



.profile-menu-list li a i.donasiku

{

	background-image: url("../../assets/images/donatur/icondbdonasib.png");

}



.profile-menu-list li a i.donasiku-w

{

	background-image: url("../../assets/images/donatur/icondbdonasiw.png");

}



.profile-menu-list li a i.dompet

{

	background-image: url("../../assets/images/donatur/icondbdompetb.png");

}



.profile-menu-list li a i.dompet-w

{

	background-image: url("../../assets/images/donatur/icondbdompetw.png");

}



.profile-menu-list li a i.poin

{

	background-image: url("../../assets/images/donatur/icondbpoinb.png");

}



.profile-menu-list li a i.poin-w

{

	background-image: url("../../assets/images/donatur/icondbpoinw.png");

}



.profile-menu-list li a span

{

	position: relative;

	top:10px;

	left: 10px;

}



.profile-menu-list li a div

{

	position: relative;

	left: 20px;

	top:5px;

	clear: left;

	border:0px solid black;

	overflow: hidden;

	width: 150px;

}



/*OVERVIEW*/



.overview

{

	padding-top: 20px;

}



.overview-head

{

	overflow: hidden;

}



.overview-head h2

{

	border-bottom:3px solid #5cb85c;

	width: 25%;

	width: 50%;

	padding-top: 20px;

	margin-bottom: 20px;

	color: #0255a5;

}



.overview-body

{



}



.overview-item

{

	height: 100px;

	background: #fff;

	width: 100%;

	border-left: 20px solid #0255a5; 

	border-top-right-radius: 30px;

	border-bottom-right-radius: 30px;

}



.overview-item img

{

	height: 100px;

}



.overview-image

{

	float: left;

	position: relative;

	top:-5px;

}



.overview-text-h

{

	float: left;

	position: relative;

	margin-left: 10px;

}





.overview-text-h h3

{

	color: #5cb85c;

}



.overview-text-r

{

	position: relative;

	margin: 0 auto;

	width: 70%;

	font-size: 12px;

}



.overview-table-border{

	border-left:2px solid #ccc;

	width: 50%

}



/*PROFILE*/



.profiledon

{

	padding-top: 20px;

}



.profiledon-head

{



	border:0px solid black;

	overflow: hidden;

}



.profiledon-head h2

{

	border-bottom:3px solid #5cb85c;

	width: 25%;

	width: 50%;

	padding-top: 20px;

	margin-bottom: 20px;

	color: #0255a5

}



.profiledon-body

{

	border:0px solid black;

}



.profile-tab-foto

{

	width:40%; position:relative; margin:0 auto; clear:left

}



.p-center40

{

	width:58%; position:relative; margin:0 auto; text-align: center;

	margin-top: 20px !important; clear: both;

}





/*CAMPAIGN SAYA*/

.mycampaign

{

	padding-top: 20px;

}



.mycampaign-head

{



	border:0px solid black;

	overflow: hidden;

}



.mycampaign-head h2

{

	border-bottom:3px solid #5cb85c;

	width: 25%;

	width: 50%;

	padding-top: 20px;

	margin-bottom: 20px;

	color: #0255a5

}



.mycampaign-body

{

	border:0px solid black;

}



.mycampaign-item

{

	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);

	overflow: hidden;

	border-top-right-radius: 10px;

	border-bottom-right-radius: 10px;

	margin-bottom: 10px;

}



.mycampaign-item-img

{

	border:0px solid black; height:280px; margin:0px; padding:0px;

	overflow: hidden;

}



.mycampaign-item-konten

{

	border:0px solid black; height:280px;

	padding-top:10px;

	background: #fff;

	border-top-right-radius: 10px;

	border-bottom-right-radius: 10px;

}





.mycampaign-item-konten p

{

	height: 60px;

	overflow: hidden;

}



.mycampaign-progress

{

	padding-top: 50px

}



.mycampaign-progress table tr td span

{

	font-size: 14px;

}



.campaign-button

{

	height: 153px;

	width: 243px;

	display: block;

	background-image: url("../../assets/images/donatur/newcampaign.png");

	position: relative;

	margin: 0 auto;

}



.mycampaign-button a

{

	text-align: center;

	text-decoration: none;

	background: #fff;

	display: block;

	padding: 10px;

	border-radius: 10px;

}



/*DOMPET AB*/



.dompetab

{

	padding-top: 20px;

}



.dompetab-head

{



	border:0px solid black;

	overflow: hidden;

}



.dompetab-head h2

{

	border-bottom:3px solid #5cb85c;

	width: 25%;

	width: 50%;

	padding-top: 20px;

	margin-bottom: 20px;

	color: #0255a5

}



.dompetab-body

{

	border:0px solid black;

	padding: 20px;

	background: #fff;

}



.dompetab-body tr td h2

{

	color:#5cb85c;

}



.dompetab-body tr td span

{

	font-size: 20px;

}



.dompet-ab-topup-btn

{

	border:0px solid black;

	border-bottom-right-radius:10px;

	border-bottom-left-radius: 10px; 

	color: #fff;

	background: #5cb85c;

	overflow: hidden;

}



.dompet-ab-topup-btn a{

	margin: 0px;

	padding: 0px;

	display: block;

	height: 65px;

	font-size: 25px;

	text-decoration: none;

	color: #fff;

	border:0px solid black;

	cursor: pointer;

	line-height: 60px

}



/*DOMPET AB*/



.mydonation

{

	padding-top: 20px;

}



.mydonation-head

{



	border:0px solid black;

	overflow: hidden;

}



.mydonation-head h2

{

	border-bottom:3px solid #5cb85c;

	width: 30%;

	padding-top: 20px;

	margin-bottom: 20px;

	color: #0255a5

}



.mydonation-body

{

	border:0px solid black;

	padding: 20px;

	background: #fff;

	min-height: 500px;

}



.mydonation-body tr td h2

{

	color:#5cb85c;

}





/*PROGRAM ZAKAT*/

#program-zakat

{

	position: relative;

	/*background-image: url("../../assets/images/bg1.jpg");*/
	background-color: #fff;

	background-repeat: no-repeat;

    background-size: 100%;
    min-height: 545px;
    margin-bottom: 120px;

}


#program-rel-position
{
	position: relative;
	margin:0 auto;
}

#program-abs-position,
#program-mb-position
{
	display: block;
	position: absolute;
	top: 0px;
	width: 100%;
	min-height: 545px;
}

.program-con-putih
{
	bottom: 0px;
	width: 90%;
	display: block;
	position: absolute;
	height: 200px;
	bottom:100px;
	left:5%;
	background: #fff;
	border-radius: 10px;
}

.program-zakat-title{

	position: relative;

	margin-top: 80px;
}

.program-mb-href
{
	display: block;
}

.program-mb-href:hover
{
	text-decoration: none;
}

.program-mb-href-a
{
	color: #5cb85c;
}

.program-mb-href-a:hover
{
	color: #5cb85c;
}

.program-zakat-title h2, .program-zakat-title h5

{	

	margin: 0px;

	padding: 0px;

}



.program-zakat-title h2, .program-zakat-title h5

{

	color: #fff

}



.line-white

{

	border:2px solid #fff !important;

}



.program-zakat-list

{
	display: block;

	-webkit-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	-moz-box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	box-shadow: -2px 4px 19px -7px rgba(0,0,0,0.75);

	border-radius: 10px;

	background: #fff !important;

	color: #333;

	 margin-top: 30px;

}


.program-zakat-list:hover
{
	text-decoration: none;
	color:#000;
}


.pz-list-program

{

	overflow: hidden;

}




.pz-list-program img

{

	margin-top: 10px;

	height: 140px

}



.pz-list-program h2

{

	color: #0255a5

}



.pz-p-program

{

	height:80px; 

	overflow:hidden; 

	text-align:center;

	padding-left: 15px;

	padding-right: 15px

}


.program-zakat-add-block

{

	display: block;

	height: 50px;

	border-bottom-left-radius: 10px;

	border-bottom-right-radius: 10px;

}



.green-focus

{

	background: #5cb85c;

}



#kalkulator_zakat h2

{

	color: #0255a5;

	margin: 0px;

	padding: 0px;

}



#kalkulator_zakat hr

{

	width: 10%;

	border:2px solid #5cb85c;

	margin: 0px;

	padding: 0px;

}

.don-input
{
	height: 50px;
	width: 50%;
	font-weight: bold;
	color:#0255a5;
	background: #fdf6c8;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.radio-payment
{
	background: #eee;
	padding: 10px;
	width: 100%;
	text-align: left;
	border-radius: 10px;
	cursor: pointer;
}

.radio-payment span
{
	position: relative;
	top:-2px;
}


.invoice
{
	overflow: hidden;
	display: block;
	background: #fff;
	margin-top: 76px;
	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	margin-bottom: 88px;
	padding-top:20px;
	border-radius:20px;
	width:80%;
}
.inv{
	width: 65%;
}
.invoice-
{
	font-weight: bold;
	color:#383838;
	background: #faf9c1;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	border-color:#e0bca4;
	border-radius:20px;
	padding:20px;
	overflow:hidden;
}

.btn-donasi-lain{
	padding-top:0px;
	height: 65px;
	width: 100%;
}

#konfirmasi_table
{
	width:100%;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.51);
	-moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.51);
	box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.51);
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	padding: 10px;
}

#konfirmasi_table > h4, #konfirmasi_table > p
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	width: 80%;
	position: relative;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}

#nominal_harus_dibayar
{
	color: #5cb85c;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
}

.spage-img
{
	position: relative; 
	margin:0 auto; 
	max-width: 1366px; 
	border:0px solid black; 
	display:block; 
	overflow: hidden;
}

.spage-title
{
	color: #fff;
	position: absolute;
	top: 0px;
	width: 100%;
	padding-top: 150px;
	min-height: 545px;
	border:0px solid black;
}

.spage-title-container
{
	border:0px solid black; 
	max-width: 1366px; 
	position: relative; 
	margin:0px auto; 
	margin-top:150px
}

.spage-konten
{
	max-width: 1366px;
	position: relative;
	margin: 0 auto;
	padding: 20px;
	min-height: 400px;
}