
body{
	background: #f7f7f7 !important;
}

ul.breadcrumb{
	background:#FFFFFF !important;
	border-left:3px solid #4bb23f !important;
	width: 98% !important;
	margin: 0 auto !important;
	margin-bottom: 1% !important;
	border-radius: 0px !important;
}

.btn-custom{
	border: none !important;
	border-left: 5px solid #004d91 !important;
	border-radius: 0px !important;
	background: #50a125 !important;
}

.border-r{
	border-right: 1px solid #60af34; 
	padding-right: 5px; 
	margin-right: 5px;
}

.center{
	text-align: center !important;
}

.mini-height{
	height: 80px !important;
}

.require{
	color:#921a1a;
}

em.error {
	background:url("../images/unchecked.png") no-repeat 0px 0px;
	padding-left: 16px;
}

label.error {
	margin-left: auto;
	width: 250px;
	font-size: 14px !important;
}

em.error {
	color: #b00d0d;
}

.peringatan{
	display: none;
}

.agreement{
}

.agreement:hover{
	cursor: pointer;
}

.label-error{
	font-weight: normal;
}

.pmenu_wrapper{
	background: #50a125;
	padding-left: 5px;
	padding-right: 5px;
	color: #ffffff;
	border-radius: 2px;
	font-weight: bold;
	margin: 0px;
	font-style: normal;
}

.all{
	cursor: pointer;
	font-weight: normal;
}

.uibutton input[type="file"]{
	cursor: pointer;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.myuibutton{
	overflow: hidden;
	display: block;
	width: 250px;
	height: 30px;
	position: relative;
	cursor: pointer;
	text-align: center;
	background-color: #4bb23f;
	overflow: hidden;
	margin: 0 auto;
	color:#424242;
	border-radius:4px;	
	margin-top: 2px;
	margin-left: -1px
}

.myuibutton span{
	position: absolute;
	left: 35%;
	line-height: 30px;
	color: #ffffff;
}