#imgkebijakan,#imglegalitas,#imgpengurus,#imgvisimisi
{
	position: relative;
	min-height: 540px;
    color:#fff;
	background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 200px;
}

#imagekebijakan h1,#imglegalitas h1
{
	margin:0px;
	padding: 0px;
	font-size: 52px
}


.kebijakan
{
	background-image: url("../../assets/images/bgkebijakanprivasi.jpg");
}

.legalitas
{
	background-image: url("../../assets/images/bglegalitas.jpg");
}

.profil
{
	background-image: url("../../assets/images/bgprofil.jpg");
}

.susunan
{
	background-image: url("../../assets/images/bgsusunan.jpg");
}


.susunan
{
	background-image: url("../../assets/images/bgvisimisi.jpg");
}

.konten
{
	padding: 50px;
	font-size: 14px;
	text-align: justify;
}