.uibutton input[type="file"]{
	cursor: pointer;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.myuibutton{
	overflow: hidden;
	display: block;
	height: 30px;
	position: relative;
	cursor: pointer;
	text-align: center;
	background-color: #4bb23f;
	overflow: hidden;
	margin: 0 auto;
	color:#424242;
	border-radius:4px;	
	margin-top: 2px;
	margin-left: -1px
}

.myuibutton p{
	position: absolute;
	left: 35%;
	line-height: 30px;
	color: #ffffff;
}

select.select-nb {
  margin: 50px;
  border: 1px solid #111;
  background: transparent;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
}

/* CAUTION: IE hackery ahead */
select.select-nb::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select.select-nb {
        background:none\9;
        padding: 5px\9;
    } 
}