.kotak{
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px; 
	background: #FFFFFF;
	border-top:3px solid #0154a4;
	border-bottom:5px solid #4bb23f;
}

.form-control{
	border-radius: 0px !important;
}

.form-control:focus{
	border:1px solid #4bb23f !important;
}