.navbar
{
    margin-bottom: 0px;
}

.padzero{
	padding:0px;
}

.mb10
{
	margin: 10px;
}

.right
{
	text-align: right;
}

/*navbar*/
.navbar
{
	background: #FFFFFF; 
	z-index: 1070 !important; 
}
.navbar-margin
{
	padding: 10px;
	padding-right:30px 
}

.navbar-logo
{
	position: relative;
	left: 30px;

}

.navbar-ul
{
	margin-top: 10px;
}

.navbar-ul li
{
	padding-left: 10px;
	padding-right: 10px; 
	border:0px solid black;
}
.navbar-ul li a.menu{
	border:0px solid black;
	line-height: 3px;
	height: 30px;
}

.navbar-ul li a.navbar-pipe
{
	border-right:1px solid #999999;
}

.navbar-gi{
	position: relative;
	top:-5px;
}

/*Login box*/
.navbar-login-wrapper
{
	width:300px !important;
	border-radius: 0px;
	background: #0255a5;
	top:50px;
}

.navbar-login-box
{
	padding:20px;
}

.navbar-login-fsmall
{
	font-size: 12px !important;
	color:#ffffff;
}

.navbar-login-fsmall a
{
	color: #ffffff;
}

.navbar-login-fsmall a:hover
{
	text-decoration: none;
}

.arrow-menu:before {
	position: absolute;
	top: -15px;
	right: 35px;
	display: inline-block;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ccc;
	border-left: 15px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.arrow-menu:after {
	position: absolute;
	top: -14px;
	right: 35px;
	display: inline-block;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #0255a5;
	border-left: 14px solid transparent;
	content: '';
}

.ar-alo:before,
.ar-alo:after
{
	right: 95px !important;
}

.navbar-or
{
	position: absolute;
	top: 268px;
	color: #fff;
	left: 135px;
	background:#0255a5;
	z-index: 1000;
	padding: 5px;
	font-weight: bold;
}

.lg-fb span
{
	line-height:20px;
}

/*Search Box*/
.mega-dropdown {
 	 position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    background:#0255a5;
}

.mega-dropdown-menu > li > ul {
	padding: 0;
	margin: 0;
}

.mega-dropdown-menu > li > ul > li {
 	list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
	display: block;
	color: #222;
	padding: 3px 5px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  	text-decoration: none;
}

.mega-dropdown-menu .dropdown-header {
	font-size: 18px;
	color: #ff3546;
	padding: 5px 60px 5px 5px;
	line-height: 30px;
}

.mega-arrow:before {
	position: absolute;
	top: -15px;
	right: 215px;
	display: inline-block;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #ccc;
	border-left: 15px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.mega-arrow:after {
	position: absolute;
	top: -14px;
	right: 215px;
	display: inline-block;
	border-right: 14px solid transparent;
	border-bottom: 14px solid #0255a5;
	border-left: 14px solid transparent;
	content: '';
}

.menu-responsive
{
	height: 40px !important;
	border: 0px solid black !important;
	border-bottom: 1px solid #ccc !important;
	line-height: 20px !important;
	margin-bottom: 5px
}

.padd20{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}

.navbar-gi-rm5
{
	top:0px;
}

.alogin
{
	position: relative;
	top:-10px;
}

.alogin span
{
	background: #0255a5;
	padding: 5px;
	border-radius: 2px
}

.fa-white
{
	color:#fff;
}

/*AFTER LOGIN*/
.alogin-wrapper
{
	width: 200px !important;
	border-radius: 10px;
	background: #0255a5;
	top:50px;
}
.alogin-top
{
	top:-5px; 
}

.alogin-konten
{
	padding: 5px;
}

.alogin-list
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.alogin-list li
{
	padding:10px;
}

.alogin-list li a
{
	color: white;
	text-decoration: none;
	display: block;
}

.alogin-list li hr
{
	margin:0px;
	padding: 0px;
}
