.panel-login-nb
{
	border:0px solid black;
	position: relative;
	margin: 0 auto;
	margin-bottom: 40px;
	-webkit-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	box-shadow: 6px 6px 13px -8px rgba(0,0,0,0.75);
	margin-top: 20px;
	border-radius: 20px;
}

.panel-login-head
{
	height: 70px;
	border-bottom:2px solid #5cb85c !important;
	text-align: center;
	font-size: 35px;
	background: #0255a5 !important;
	color:#fff !important;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.panel-login-hr
{
	border-bottom:1px solid #ccc;
	height: 10px;
	position: relative;
	z-index: 1028
}

.panel-login-or
{
	position: absolute;
	display: block;
	background: #fff;
	bottom: -20px;
	left: 45%;
	width: 40px;
	border:0px solid black;
	z-index: 1029;
	font-weight: bold;
	text-align: center;
}

.f19
{
	font-size: 19px;
	text-align: center;
	width: 70%;
	position: relative;
	margin: 0 auto
}