.progress{
  overflow:visible;
  border-radius: 0px !important;
  background: #0255a5;
}

.progress-bar{
  -webkit-transition: width 1.5s ease-in-out;
  transition: width 1.5s ease-in-out;
   background:#4cb050; 
}