@font-face {
    font-family: "SourceSansPro-Regular";
    src: url("../../assets/fonts/SourceSans/SourceSansPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "SourceSansPro-Semibold";
    src: url("../../assets/fonts/SourceSans/SourceSansPro-Semibold.ttf") format('truetype');
}

@font-face {
    font-family: "SourceSansPro-Bold";
    src: url("../../assets/fonts/SourceSans/SourceSansPro-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "SourceSansPro-Italic";
    src: url("../../assets/fonts/SourceSans/SourceSansPro-Italic.ttf") format('truetype');
}