.sy-slides-wrap
{
	position: relative !important;
	z-index: 1;
}

.sy-pager
{
	position: absolute;
	bottom:130px;
	z-index: 120
}

.image
{
	height: 540px !important;
	width:100%;
}

.image
{
	height: 540px;
	width:100%;
}
