.panel-heading .accordion-toggle:after {

    /* symbol for "opening" panels */

    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */

    content: "\e114";    /* adjust as needed, taken from bootstrap.css */

    float: right;        /* adjust as needed */

    color: grey;         /* adjust as needed */

}



.panel-heading .accordion-toggle.collapsed:after {

    /* symbol for "collapsed" panels */

    content: "\e080";    /* adjust as needed, taken from bootstrap.css */

}



.panel-heading

{

	background: #fff !important;

    box-shadow: 0px !important;

}



.list-group li

{

	border:none;

}





.list-group li a

{

	color: #000;

	font-size: 16px

}





.list-group li a:hover

{

	text-decoration: none;

}



.no-border

{

	border:none !important;

	border-radius: none !important;

	box-shadow: none !important; 

}



.bb

{

	border-bottom:1px solid #ccc !important;

}



.panduan-umum

{

	font-weight: bold;

	color: #0255a5

}

.bg-blue
{
	background: #0255a5 !important;
}