.footer

{

	overflow: hidden;

	background: #383838;

}



.footer-subscribe

{

	overflow: hidden;

	height: auto;

	background: #232323;

	margin: 0px;

	padding: 0px;

	padding-top: 25px;

	padding-bottom: 0px;

	padding-left: 10px;

	padding-right: 0px;

}



.footer-konten

{

	overflow: hidden;

	height: auto;

	padding: 10px;

	border:0px solid #fff;

	padding-top: 40px;

	padding-bottom: 40px

}



.footer-copyright

{

	overflow: hidden;

	height: auto;

	color: #fff;

	text-align: center;

	background: #4cb050;

	padding-top: 20px;

	padding-bottom: 10px

}



.input-black

{

	background: #141414;

	border:1px solid #383838

}



.btn-black

{

	border:1px solid #fff;

	color: #fff;

	padding-left: 30px;

	padding-right: 30px;

}



.footer-link

{	

	list-style-type: none;

	margin: 0px;

	padding: 0px;

}



.footer-link li

{

	margin-top: 20px;

	color: #b5b5b5;

	font-size: 17px

}


.footer-link li a
{
	color: #b5b5b5;
}

.footer-address

{

	margin-top: 20px;

	color: #b5b5b5;

	font-size: 17px

}



.footer-block-title{

	color:#fff; font-size:18px

}



.mb20

{

	margin-bottom:30px;

}