.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.carousel-indicators li {
    background: #fff;
    margin-left: 10px;
    margin-right: 10px
}

.carousel-indicators .active {
    background: #0154a4;
    border:1px solid #0154a4;
    margin-left: 9px;
    margin-right: 9px
}

.custom-caption
{
  position: absolute;
  left: 80px;
  top:20%;
}


.custom-caption h1
{
  font-size: 52px !important;
}

.custom-caption h1,
.custom-caption p
{
  text-align: center !important;
}

.custom-caption p
{
  width: 70%;
  overflow: hidden;
  height: 100px;
  margin-bottom: 15px;
}

.custom-caption-inner
{
  position: relative; margin:0 auto; max-width:1366px; border:0px solid black; padding-left:50px;
}

.bg-slout
{
  display: block;
  position: absolute;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 575px;
  top:0;
  z-index: 9
}