.nav-tabs { 
	border-bottom: 3px solid #4cb050; 
	padding: 2px;
	height: auto;
	overflow: hidden;
}
.nav-tabs > li
{
	overflow: hidden;
	height: auto;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { 
	border-width: 0; 
}
.nav-tabs > li > a { 
	border: none; color: #666; 
	border-radius: 0px;
	overflow: hidden;
	height: auto;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover { 
	border: none; 
	color: #0255a5 !important; 
	background: transparent; 
}
.tab-pane { 
	padding: 15px 0; 
}
.tab-content{
	padding:20px
}

.tab-nb {
	background: #FFF none repeat scroll 0% 0%; 
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); 
	margin-bottom: 30px;
	border-radius: 10px;
	border-top-left-radius: 10px;
	min-height: 400px;
	overflow: hidden;
	padding-bottom: 20px;
}

.border-lr
{
	border-left:1px solid #ccc !important;
	border-right:1px solid #ccc !important;
}

.border-l
{
	border-left:1px solid #ccc !important;
}

.border-r
{
	border-right:1px solid #ccc !important;
}

.no-bt
{
	border-bottom:0px solid black !important;
}

.w33
{
	width: 33.3333333%;
}

.wauto
{
	width: auto !important
}

.border-grey
{
	border-top:2px solid #ccc !important;
	border-bottom:2px solid #ccc !important;
	border-radius: 0px !important
}

.w50
{
	width: 50%
}